*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   

}
/* banner styles */
header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 800px;
    width: 1600px;   
}
.benner{
    text-align: right;
    padding-right: 200px;
}
.benner-title {
    color:#FFFFFF;
    font-size: 65px;
    line-height: 75px;
    padding-top: 218px;
    margin-bottom: 25px;

}
.b-artical{
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px; 
}
.btn{
    color: #005FAC;
    width: 160px;
    height: 64px;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 5px;
    border: 0;
   font-weight:bolder
}
/* failures section */
.failures-section{
    width: 1500px;
    display: flex;
    align-items: center;
    padding: 100px 50px 100px 50px;
    
}

.all-failures{
    padding-right:320px ;
    padding-left: 80px;

}
.failuer-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 24px;
}
.f-discription{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.failure-point{
    padding-bottom: 16px;
}
/* my plan section */
.plan-section{
    width: 1500px;
}
.plans{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 50px;
}
.all-plans{
    display: flex;
   text-align: center;
   justify-content: center;
}
.plan-point{
    justify-content: center;
}
.plan-title{
    font-size: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 28px;
    padding-bottom: 16px;
}
.genarel-text{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    font-size: 25px;
    color: #737272;
}
/* mindset section */
.gradian{
    background-image: linear-gradient(to right, rgb(68, 0, 255), rgb(255, 0, 0, 0)), url(/images/watch.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    margin: 100px auto 120px 180px;
}
.text-contain{
   padding-top: 59px;
   padding-left:64px ;
}
.positive{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
/* footer styles */
.footer{
    background-color: #151414;
    width: 1600px;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 145px;
}
.f-left{
    padding-right: 320px;
    color: #FFFFFF;

}
.title-f{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-bottom: 16px;
}
.description-f{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 24px;
}
.mail{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 16px;
}
.phn{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 32px;
}

.subscribe{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
#email{
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    background-color: #151414;
    padding-left: 21px;
   margin-bottom: 16px;
}
/* dream section */
.dream{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 50px;
}
.flex{
    display: flex;
}
.wish{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 50px;
    padding-left: 200px;
}
.wish-define{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 200px;
    padding-bottom: 50px;
}
.blockchain{
    padding-left: 100px;
}